<!DOCTYPE html>
<html lang="en">

<head>
</head>   

<body>
<%- include ('header.ejs') %>
<%- include ('usernav.ejs') %>
        <!-- Search Start -->
<h2>Wel-Come <%= msg %></h2>        
<h1> User Index Page</h1> 
        <!-- Testimonial End -->
 <%- include ('footer.ejs') %>
</body>

</html>
